.main-panel {
    padding: 1% 2% 2%;
    border-radius: 5px;
}

.main-panel-light {
    background-color: #eae7f5;
    color: #3f1d5a;
}

.main-panel-dark {
    background-color: #261236;
    color: #ffe9ff;
}

@media (min-width: 740px) {

}

.link {
    font-size: medium;
    cursor: pointer;
}

.link-light {
    color: #6e3c97;
}

.link-light:hover {
    color: rgba(63, 29, 90, 0.76);
}

.link-dark {
    color: #c294e8;
}

.link-dark:hover {
    color: #a36dd0;
}