<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{navbar.works}">Title</title>
    <!-- For bootstrap -->
<!--
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Local css -->
    <link rel="stylesheet" type="text/css" href="/css/base/background.css">
    <link rel="stylesheet" type="text/css" href="/css/base/main_panel.css">
    <link rel="stylesheet" type="text/css" href="/css/base/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/input/links.css">
    <link rel="stylesheet" type="text/css" href="/css/input/buttons.css">
    <link rel="stylesheet" type="text/css" href="/css/items/work_item.css">
    <!-- Script to load navbar -->
    <!--<script src="js/csi.js"></script>-->

    <meta charset="UTF-8">
</head>
<body>
   <div class="bg">
       <!--<div data-include="/components/navbar.html"></div>-->
       <!-- ---------- -->
       <!-- Navbar -->
       <!-- ---------- -->
       <nav class="navbar navbar-inverse">
           <div class="container-fluid">
               <div class="navbar-header">
                   <a class="navbar-brand" href="/">RenBook</a>
               </div>
               <ul class="nav navbar-nav">
                   <li>
                       <a th:text="#{navbar.works}" href="/works">Authors</a>
                   </li>
                   <li>
                       <a th:text="#{navbar.authors}" href="/authors">Authors</a>
                   </li>
                   <li>
                       <a th:text="#{navbar.rules}" href="/rules">Authors</a>
                   </li>
               </ul>
               <ul class="nav navbar-nav navbar-right">
                   <th:block th:if="${#authentication.getName().equals('anonymousUser')}">
                       <li>
                           <a href="/auth/signup">
                               <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-bar-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                   <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"/>
                                   <path fill-rule="evenodd" d="M6 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H6.5A.5.5 0 0 1 6 8zm-2.5 6a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 1 0v11a.5.5 0 0 1-.5.5z"/>
                               </svg>
                               <th:block th:text="#{navbar.signup}">S</th:block>
                           </a>
                       </li>
                       <li>
                           <a href="/auth/login">
                               <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                   <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                               </svg>
                               <th:block th:text="#{navbar.login}">L</th:block>
                           </a>
                       </li>
                   </th:block>

                   <th:block th:unless="${#authentication.getName().equals('anonymousUser')}">
                       <li class="dropdown">
                           <a class="dropdown-toggle" data-toggle="dropdown"
                              th:text="${#authentication.getName()}"
                              style="cursor: pointer">
                               <!--<img th:src="${#authentication.principal.userInfo.avatarUrl}"
                                    class="img-circle img-responsive"
                                    th:alt="${#authentication.principal.username}">-->
                               <span class="caret"></span>
                           </a>
                           <ul class="dropdown-menu">
                               <li><a href="/home/news" th:text="#{dropdown.news}">News</a></li>
                               <li class="divider"></li>
                               <li><a href="/home/profile" th:text="#{dropdown.profile}">Profile</a></li>
                               <li><a href="/home/works" th:text="#{dropdown.works}">Works</a></li>
                               <li><a href="/home/saved" th:text="#{dropdown.saved}">Likes</a></li>
                               <li class="divider"></li>
                               <li><a href="/logout" th:text="#{dropdown.logout}">Logout</a></li>
                           </ul>
                       </li>
                   </th:block>
               </ul>
           </div>
       </nav>
       <!-- ---------- -->
       <!-- Main panel -->
       <!-- ---------- -->
       <div class="container">
           <div class="main-panel main-panel-light" style="padding: 1%">
               <b th:if="${error}">
                   <div class="alert alert-danger" th:text="#{error.something_went_wrong}">Y</div>
               </b>
               <!-- MOST RECENT -->
               <div class="container-fluid" style="padding-bottom: 10px">
                   <h2 th:text="#{mainpage.top.update.all}">Топ-5 самых популярных работ</h2>
                   <h4 th:text="#{list.work.sorted} + ': ' + #{'list.work.sorted.' + ${sortSubject}}">Топ-5 самых популярных работ</h4>
                   <th:block th:if="${allWorks != null}">
                       <th:block th:if="${allWorks.size() > 0}">
                           <div th:each="work : ${allWorks}">
                               <div class="item-panel item-panel-light">
                                   <div class="container-fluid">
                                       <div class="row">
                                           <div class="col-sm-11">
                                               <form th:id="'open_work_form' + ${work.getName()} + ${allWorks.indexOf(work)}" th:action="'/works/view/' + ${work.getName()}" method="get">
                                                   <a>
                                                       <h3 class="link" style="font-weight: bold; margin-top: 0"
                                                           onclick="document.getElementById(this.parentNode.parentNode.id).submit(); return false;"
                                                          th:text="${work.getName()}">submit</h3>
                                                   </a>
                                               </form>
                                               <p class="work-element" style="margin-top: -0.5%; margin-bottom: -1%">
                                                   <label for="author" th:text="#{work.author} + ':'">F</label>
                                                   <a th:text="${work.getAuthorName()}" id="author">Type</a>
                                               </p>
                                               <p class="work-element" style="margin-bottom: -1%">
                                                   <label th:text="#{work.category.types.fandom} + ':'">F</label>
                                                   <th:block th:if="${work.getFandomType().equals('ORIGINAL')}">
                                                       <a th:text="#{work.category.types.original}"
                                                          data-toggle="tooltip" data-placement="top" th:title="#{'work.category.types.' + ${work.getFandomType().toLowerCase()}}">Type</a>
                                                   </th:block>
                                                   <th:block th:unless="${work.getFandomType().equals('ORIGINAL')}">
                                                       <a th:each="fandom : ${work.getFandoms()}"
                                                          data-toggle="tooltip" data-placement="top" th:title="#{'work.category.types.' + ${fandom.getType().toLowerCase()}}">
                                                           <th:block th:text="${fandom.getName()}">T</th:block>
                                                       </a>
                                                   </th:block>
                                               </p>
                                               <th:block th:if="${work.getTags().size() > 0}">
                                                   <p class="work-element" style="margin-bottom: -1%">
                                                       <label th:text="#{work.tags} + ':'">F</label>
                                                       <a th:each="tag : ${work.getTags()}">
                                                           <a th:text="${tag}">Tag</a>
                                                       </a>
                                                   </p>
                                               </th:block>
                                               <p class="work-element" style="margin-bottom: -1%">
                                                   <label for="category" th:text="#{work.category}">F</label>
                                                   <a th:text="#{'work.category.' + ${work.getCategory().toLowerCase()}}" id="category">Type</a>
                                               </p>
                                               <p class="work-element" style="margin-bottom: -1%">
                                                   <label for="rating" th:text="#{work.rating}">F</label>
                                                   <a th:text="${work.getRating()}" id="rating"
                                                      data-toggle="tooltip" data-placement="right" th:title="#{'work.rating.' + ${work.getRating().toLowerCase()}}">
                                                   </a>
                                               </p>
                                               <p class="work-element" style="margin-bottom: -1%">
                                                   <label for="status" th:text="#{work.state}">F</label>
                                                   <th:block th:if="${work.getStatus().equals('IN_PROGRESS')}">
                                                       <a th:text="#{work.state.in_progress}" id="status" style="color: red">Type</a>
                                                   </th:block>
                                                   <th:block th:if="${work.getStatus().equals('COMPLETE')}">
                                                       <a th:text="#{work.state.complete}" id="status" style="color: green;">Type</a>
                                                   </th:block>
                                               </p>
                                               <p class="work-element" style="margin-bottom: -1%">
                                                   <label for="language" th:text="#{profile.language.label} + ':'">F</label>
                                                   <a th:text="#{'profile.language.' + ${work.getLanguage().toLowerCase()}}" id="language">Type</a>
                                               </p>
                                               <div class="work-element" style="display: flex; ">
                                                   <div sec:authorize="hasAuthority('ADMIN')">
                                                       <label for="chapters" th:text="#{home.works.chapters} + ':'">F</label>
                                                       <div class="column" style="margin-left:2%;">
                                                           <form th:id="'add_chapter_form' + ${work.getName()}" th:action="'/home/works/' + ${work.getName()} + '/add'" method="get">
                                                               <a class="link" onclick="document.getElementById(this.parentNode.id).submit(); return false;"
                                                                  th:text="#{home.works.add_chapter}">submit</a>
                                                           </form>
                                                           <div class="row" id="chapters" th:each="chapter : ${work.getChapters()}" style="margin-left: 1%; width: max-content">
                                                               <form th:id="'show_chapter_form' + ${work.getName()} + '/' + ${chapter}"
                                                                     th:action="'/works/view/' + ${work.getName()} + '/' + ${chapter}" method="get">
                                                                   <a class="link" style="margin-right: 2%;"
                                                                      onclick="document.getElementById(this.parentNode.id).submit(); return false;"
                                                                      th:text="${chapter}">
                                                                       S
                                                                   </a>
                                                               </form>
                                                               <form th:id="'edit_chapter_form' + ${work.getName()} + '/' + ${chapter}"
                                                                     th:action="'/home/works/' + ${work.getName()} + '/' + ${chapter} + '/edit'" method="get">
                                                                   <a class="link" onclick="document.getElementById(this.parentNode.id).submit(); return false;">
                                                                       <svg width="15px" height="15px" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                           <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                                                                           <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                                                                       </svg>
                                                                   </a>
                                                               </form>
                                                               <form th:id="'delete_chapter_form' + ${work.getName()} + '/' + ${chapter}"
                                                                     th:action="'/home/works/' + ${work.getName()} + '/' + ${chapter} + '/delete'" method="post">
                                                                   <a class="link" onclick="return formSubmitter(this.parentNode.id)">
                                                                       <svg width="15px" height="15px" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                           <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                                                                       </svg>
                                                                   </a>
                                                               </form>
                                                           </div>
                                                       </div>
                                                   </div>
                                                   <div sec:authorize="hasAuthority('USER')">
                                                       <label for="size" th:text="#{work.size} + ':'">F</label>
                                                       <label th:text="#{work.size.chapters} + ': ' + ${work.getChapters().size()} + ', ' + #{work.size.words} + ': ' + ${work.getWordsCount()}"
                                                              id="size" style="font-weight: normal">Type</label>
                                                   </div>
                                               </div>
                                               <p class="work-element text-element">
                                               <p th:text="${work.getDescription()}" class="text-output" id="description">
                                                   Type
                                               </p>
                                               </p>
                                           </div>
                                           <div class="col-sm-1">
                                               <div sec:authorize="hasAuthority('ADMIN')">
                                                   <form th:id="'edit_work_form' + ${allWorks.indexOf(work)} + ${allWorks.indexOf(work)}"
                                                         th:action="'/home/works/' + ${work.getName()} + '/edit'" method="get">
                                                       <a class="link" onclick="document.getElementById(this.parentNode.id).submit(); return false;">
                                                           <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                               <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                                                               <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                                                           </svg>
                                                       </a>
                                                   </form>
                                                   <form th:id="'delete_work_form' + ${topWorksByUpdate.indexOf(work)} + ${topWorksByUpdate.indexOf(work)}"
                                                         th:action="'/home/works/' + ${work.getName()} + '/delete'" method="post">
                                                       <a class="link" onclick="return formSubmitter(this.parentNode.id)">
                                                           <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                               <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                                                           </svg>
                                                       </a>
                                                   </form>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </th:block>
                   </th:block>
                   <th:block th:if="${allWorks == null || allWorks.size() <= 0}">
                       <p></p>
                       <p class="link-medium" th:text="#{list.work.empty}">No tags</p>
                   </th:block>
                   <!-- PAGES -->
                   <div class="container-fluid" style="display: inline">
                       <th:block th:if="${prevPage != null}">
                           <a th:href="'/works/' + ${sortSubject} + '/' + ${prevPage}">
                               <button class="btn btn-purple" th:text="#{list.page.prev}">B</button>
                           </a>
                       </th:block>
                       <th:block th:if="${curPage!= null}">
                           <label style="font-weight: normal"
                                  th:text="#{list.page.page} + ' ' + ${curPage} + ' ' + #{list.page.of} + ' ' + ${pageCount}">L</label>
                       </th:block>
                       <th:block th:if="${nextPage != null}">
                           <a th:href="'/works/' + ${sortSubject} + '/' + ${nextPage}">
                               <button class="btn btn-purple" th:text="#{list.page.next}">B</button>
                           </a>
                       </th:block>
                   </div>
               </div>
               <input type="hidden" id="question" th:value="#{home.delete.question}">
           </div>
       </div>
   </div>
</body>

<script>
    function formSubmitter(formName) {
        if (confirm(document.getElementById('question').value)) {
            document.getElementById(formName).submit(); return false;
        } else {
            return false;
        }
    }
</script>

<!-- For bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>