<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${viewedWork.getName()}">Title</title>
    <!-- For bootstrap -->
    <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <!-- Add icon library for stars-->
    <!-- default styles -->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" rel="stylesheet">-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
    <!-- optionally if you need to use a theme, then include the theme CSS file as mentioned below -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/themes/krajee-svg/theme.css" media="all" rel="stylesheet" type="text/css" />
    <!-- important mandatory libraries -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/js/star-rating.min.js" type="text/javascript"></script>
    <!-- optionally if you need to use a theme, then include the theme JS file as mentioned below -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/themes/krajee-svg/theme.js"></script>

    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <!-- Local css -->
    <link rel="stylesheet" type="text/css" href="/css/base/background.css">
    <link rel="stylesheet" type="text/css" href="/css/base/main_panel.css">
    <link rel="stylesheet" type="text/css" href="/css/base/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/input/links.css">
    <link rel="stylesheet" type="text/css" href="/css/input/buttons.css">
    <link rel="stylesheet" type="text/css" href="/css/input/textareas.css">
    <link rel="stylesheet" type="text/css" href="/css/items/work_item.css">
    <link rel="stylesheet" type="text/css" href="/css/items/comment_item.css">
    <link rel="stylesheet" type="text/css" href="/css/typo/fic_typo.css">
    <!-- Scripts -->
    <script src="/js/moment.min.js"></script>
    <script src="/js/app.js"></script>

    <meta charset="UTF-8">
</head>
<body>
<div class="bg">
    <!--<div data-include="/components/navbar.html"></div>-->
    <!-- ---------- -->
    <!-- Navbar -->
    <!-- ---------- -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">RenBook</a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a th:text="#{navbar.works}" href="/works">Authors</a>
                </li>
                <li>
                    <a th:text="#{navbar.authors}" href="/authors">Authors</a>
                </li>
                <li>
                    <a th:text="#{navbar.rules}" href="/rules">Authors</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <th:block th:if="${#authentication.getName().equals('anonymousUser')}">
                    <li>
                        <a href="/auth/signup">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-bar-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"/>
                                <path fill-rule="evenodd" d="M6 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H6.5A.5.5 0 0 1 6 8zm-2.5 6a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 1 0v11a.5.5 0 0 1-.5.5z"/>
                            </svg>
                            <th:block th:text="#{navbar.signup}">S</th:block>
                        </a>
                    </li>
                    <li>
                        <a href="/auth/login">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            </svg>
                            <th:block th:text="#{navbar.login}">L</th:block>
                        </a>
                    </li>
                </th:block>

                <th:block th:unless="${#authentication.getName().equals('anonymousUser')}">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown"
                           th:text="${#authentication.getName()}"
                           style="cursor: pointer">
                            <!--<img th:src="${#authentication.principal.userInfo.avatarUrl}"
                                 class="img-circle img-responsive"
                                 th:alt="${#authentication.principal.username}">-->
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/home/news" th:text="#{dropdown.news}">News</a></li>
                            <li class="divider"></li>
                            <li><a href="/home/profile" th:text="#{dropdown.profile}">Profile</a></li>
                            <li><a href="/home/works" th:text="#{dropdown.works}">Works</a></li>
                            <li><a href="/home/saved" th:text="#{dropdown.saved}">Likes</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout" th:text="#{dropdown.logout}">Logout</a></li>
                        </ul>
                    </li>
                </th:block>
            </ul>
        </div>
    </nav>
    <!-- ---------- -->
    <!-- Main panel -->
    <!-- ---------- -->
    <div class="container">
        <div class="main-panel main-panel-light" style="padding: 1%">
            <b th:if="${error}">
                <div class="alert alert-danger" th:text="#{error.something_went_wrong}">Y</div>
            </b>

            <th:block th:if="${viewedWork != null}">
                <!-- work description -->
                <div class="item-panel item-panel-light">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="work-element row" style="display: inline-flex">
                                    <h3 class="text-output" th:text="${viewedWork.getName()}"
                                        style="margin-top: -0.01%; font-weight: bold">L</h3>
                                    <div class="row" style="display: inline-flex; margin-left: 10px; margin-top: -3px; vertical-align: middle">
                                        <input name="u_" id="u_" type="text" class="rating"
                                               th:value="${viewedWork.getAverageAssessment()}">
                                        <input type="hidden" name="uas_" id="uas_"
                                               th:value="${viewedWork.getAssessmentCount()}">
                                        <script>
                                            // initialize with defaults
                                            $('input[name^="u_"]').rating({
                                                size: 'sm',
                                                step: 0.1,
                                                displayOnly: true,
                                                showCaption: false,
                                                /*defaultCaption: '(' + $('input[name="uas_"]').val() + ')'*/
                                            });
                                        </script>
                                        <th:block th:if="${viewedWork.getAssessmentCount() >= 0}">
                                            <div class="secondary-text-work"
                                                 style="margin-left: 5px; margin-top: -4px; vertical-align: middle"
                                                 th:text="'(' + ${viewedWork.getAssessmentCount()} + ')'">a</div>
                                        </th:block>
                                    </div>
                                </div>
                                <div class="work-element" style="margin-top: -20px; margin-bottom: -1%">
                                    <div class="row" style="display: inline-flex; margin-left: 0; padding: 0">
                                        <label for="author" th:text="#{work.author} + ':'">F</label>
                                        <form th:id="'show_author_form'"
                                              th:action="'/authors/' + ${viewedWork.getAuthorName()}" method="get">
                                            <a class="link link-light text-output" style="margin-left: 5px"
                                               onclick="document.getElementById(this.parentNode.id).submit(); return false;"
                                               th:text="${viewedWork.getAuthorName()}">d</a>
                                        </form>
                                    </div>
                                </div>
                                <p class="work-element" style="margin-bottom: -1%">
                                    <label th:text="#{work.category.types.fandom} + ':'">F</label>
                                    <th:block th:if="${viewedWork.getFandomType().equals('ORIGINAL')}">
                                        <a th:text="#{work.category.types.original}"
                                           data-toggle="tooltip" data-placement="top" th:title="#{'work.category.types.' + ${viewedWork.getFandomType().toLowerCase()}}">Type</a>
                                    </th:block>
                                    <th:block th:unless="${viewedWork.getFandomType().equals('ORIGINAL')}">
                                        <a th:each="fandom : ${viewedWork.getFandoms()}"
                                           data-toggle="tooltip" data-placement="top" th:title="#{'work.category.types.' + ${fandom.getType().toLowerCase()}}">
                                            <th:block th:text="${fandom.getName()}">T</th:block>
                                        </a>
                                    </th:block>
                                </p>
                                <p class="work-element" style="margin-bottom: -1%">
                                    <label for="category" th:text="#{work.category}">F</label>
                                    <a th:text="#{'work.category.' + ${viewedWork.getCategory().toLowerCase()}}" id="category">Type</a>
                                </p>
                                <p class="work-element" style="margin-bottom: -1%">
                                    <label for="rating" th:text="#{work.rating}">F</label>
                                    <a th:text="${viewedWork.getRating()}" id="rating"
                                       data-toggle="tooltip" data-placement="right" th:title="#{'work.rating.' + ${viewedWork.getRating().toLowerCase()}}">
                                    </a>
                                </p>
                                <p class="work-element" style="margin-bottom: -1%">
                                    <label for="status" th:text="#{work.state}">F</label>
                                    <th:block th:if="${viewedWork.getStatus().equals('IN_PROGRESS')}">
                                        <a th:text="#{work.state.in_progress}" id="status" style="color: red">Type</a>
                                    </th:block>
                                    <th:block th:if="${viewedWork.getStatus().equals('COMPLETE')}">
                                        <a th:text="#{work.state.complete}" id="status" style="color: green;">Type</a>
                                    </th:block>
                                </p>
                                <p class="work-element" style="margin-bottom: -1%">
                                    <label for="language" th:text="#{profile.language.label} + ':'">F</label>
                                    <a th:text="#{'profile.language.' + ${viewedWork.getLanguage().toLowerCase()}}" id="language">Type</a>
                                </p>
                                <p class="work-element" style="margin-bottom: -1%">
                                    <label for="size" th:text="#{work.size} + ':'">F</label>
                                    <label th:text="#{work.size.chapters} + ': ' + ${viewedWork.getChapters().size()} + ', ' + #{work.size.words} + ': ' + ${viewedWork.getWordsCount()}"
                                           id="size" style="font-weight: normal">Type</label>
                                </p>
                                <th:block th:if="${viewedWork.getTags().size() > 0}">
                                    <p class="work-element" style="margin-bottom: -1%">
                                        <label for="tags" th:text="#{work.tags} + ':'">F</label>
                                        <a th:each="tag : ${viewedWork.getTags()}">
                                            <a th:href="'/works/tag/' + ${tag} + '/1'" class="link link-light link-medium"
                                               th:id="'a_' + ${tag}" style="margin-right: 2px">
                                                <th:block th:text="${tag}" style="margin-right: 2px">T</th:block>
                                                <script>
                                                    var parentId = document.currentScript.parentNode.id.split('/');
                                                    if (parentId.length > 1) {
                                                        document.currentScript.parentNode.href = '/works/tag/' + parentId[0] + '/1';
                                                    }
                                                </script>
                                            </a>
                                        </a>
                                    </p>
                                </th:block>
                            </div>
                            <div class="col-sm-6">
                                <p>
                                    <h4 th:text="#{home.add_fic.description} + ':'" style="font-weight: bold">H</h4>
                                    <div class="text-output" th:text="${viewedWork.getDescription()}" id="description">
                                        Type
                                    </div>
                                </p>
                                <p>
                                    <h4 th:text="#{home.add_fic.comment} + ':'" style="font-weight: bold">H</h4>
                                    <div class="text-output" th:text="${viewedWork.getComment()}">
                                        Type
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- chapter -->
                <div class="item-panel item-panel-light">
                    <div class="container-fluid">
                        <th:block th:if="${viewedWork.getChapters().size() == 0}">
                            <p th:text="#{list.chapters.empty}">C</p>
                        </th:block>
                        <th:block th:if="${viewedWork.getChapters().size() == 1}">
                            <div>
                                <p class="text-output" th:text="${viewedWork.getChapters().get(0).getText()}">C</p>
                                <th:block th:if="${!viewedWork.getChapters().get(0).getNotes().isBlank()}">
                                    <h5 th:text="#{home.add_chapter.notes} + ':'" style="font-weight: bold">G</h5>
                                    <p class="text-output" th:text="${viewedWork.getChapters().get(0).getNotes()}">C</p>
                                </th:block>
                            </div>
                        </th:block>
                        <th:block th:if="${viewedWork.getChapters().size() > 1}">
                            <h4 th:text="#{list.chapters.contents}" style="font-weight: bold">C</h4>
                            <div th:each="chapter : ${viewedWork.getChapters()}" style="margin-left: 3%">
                                <form th:id="'show_chapter_form' + ${viewedWork.getChapters().indexOf(chapter)}"
                                      th:action="'/works/view/' + ${viewedWork.getName()} + '/' + ${chapter.getName()}" method="get">
                                    <a class="link" style="margin-right: 2%;"
                                       onclick="document.getElementById(this.parentNode.id).submit(); return false;"
                                       th:text="${chapter.getName()}">
                                        S
                                    </a>
                                </form>
                            </div>
                        </th:block>
                    </div>
                </div>
                <!-- assessment -->
                <div sec:authorize="isAuthenticated()">
                    <div class="item-panel item-panel-light">
                        <div class="container-fluid">
                            <h3 th:text="#{assessment.question}">H</h3>
                            <input type="hidden" id="user_assess" th:value="${userAssessment}">
                            <input type="hidden" id="principal" th:value="${#authentication.getName()}">
                            <input type="hidden" id="authorName" th:value="${viewedWork.getAuthorName()}">
                            <script>
                                // initialize with defaults
                                $("#user_assess").rating({
                                    step: 0.1,
                                    size: 'lg'
                                });
                                $('#user_assess').on('rating:change', function(event, value, caption) {
                                    giveAssessment(value);
                                    console.log("rating:change");
                                });
                                $('#user_assess').on('rating:clear', function(event) {
                                    giveAssessment(0);
                                    console.log("rating:clear");
                                });
                            </script>
                            <div id="assess_success" class="alert alert-success text-output"
                                 th:text="#{assessment.thanks}" style="display: none">
                                Type
                            </div>
                            <div id="assess_info" class="alert alert-info text-output"
                                 th:text="#{assessment.info}" style="display: none">
                                Type
                            </div>
                        </div>
                    </div>
                </div>
                <!-- comments -->
                <th:block th:if="${viewedWork.getChapters().size() > 0}">
                    <div class="item-panel item-panel-light">
                        <div class="container-fluid">
                            <h3 class="text-output" th:text="#{comment.comments} + ':'" style="font-weight: bold">H</h3>

                            <th:block th:if="${viewedWork.getComments().size() == 0}">
                                <p id="noComments" th:text="#{comment.comments.empty}">C</p>
                            </th:block>

                            <th:block th:unless="${viewedWork.getComments().size() == 0}">
                                <div class="comment-item" th:each="comment : ${viewedWork.getComments()}"
                                     th:id="'comment_' + ${comment.getId()}">
                                    <div class="container-fluid">
                                        <div class="comment-head">
                                            <div class="row" style="padding-left: 5px">
                                                <div class="col-sm-7 primary-text-comment">
                                                    <form th:id="'show_author_form' + ${comment.getId()}"
                                                          th:action="'/authors/' + ${comment.getAuthorName()}" method="get">
                                                        <a class="link link-dark text-output" style="margin-left: 5px"
                                                           onclick="document.getElementById(this.parentNode.id).submit(); return false;"
                                                           th:text="${comment.getAuthorName()}">d</a>
                                                    </form>
                                                </div>
                                                <div class="col-sm-4 secondary-text-comment"
                                                     th:text="${#dates.format(new java.util.Date(comment.getPostTime()), 'dd.MM.YYYY HH:mm:ss')}"></div>
                                                <div class="col-sm-1">
                                                <span class="secondary-text-comment close" th:id="'span_' + ${comment.getId()}"
                                                      style="float: right"
                                                      sec:authorize="isAuthenticated()">X</span>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" id="question" th:value="#{home.delete.question}">
                                        <script th:id="'s_' + ${comment.getId()}">
                                            var commentId = document.currentScript.id.substr(2);
                                            console.log(commentId);
                                            var spanElement = document.getElementById('span_' + commentId);
                                            spanElement.addEventListener("click", function () {
                                                if (confirm(document.getElementById('question').value)) {
                                                    var commentId = this.id.substr(5);
                                                    deleteComment(commentId);
                                                } else {
                                                    return false;
                                                }
                                            });
                                        </script>
                                        <div class="comment-body text-output" th:text="${comment.getText()}">f</div>
                                    </div>
                                </div>
                            </th:block>

                            <div id="newComments">
                            </div>

                            <div sec:authorize="isAuthenticated()">
                                <form id="post_comment_form" style="width: 100%">
                                    <div class="container-fluid comment-panel">
                                        <h4 th:text="${#authentication.getName()}" style="font-weight: bold">H</h4>
                                        <textarea class="form-control" id="comment" name="comment"
                                                  rows="5" cols="20" maxlength="500"
                                                  th:placeholder="#{comment.form.placeholder}"
                                                  onkeyup="textCounter(this, 'commentCounter', 500)"
                                        ></textarea>

                                        <div class="row" style="margin-top: 10px; vertical-align: center">
                                            <div class="col-sm-2">
                                                <label for="commentCounter" th:text="#{signup.characters_left}"
                                                       style="font-weight: normal;">Left</label>
                                                <input disabled  maxlength="4" size="4" value="500" id="commentCounter" style="color: #3f1d5a;">
                                            </div>
                                            <div class="col-sm-8">
                                                <div id="emptyCommentAlert" class="alert alert-danger"
                                                     style="padding: 1%; width: min-content; white-space: nowrap; display: none; align-self: center"
                                                     th:text="#{comment.form.nonempty}">Y</div>
                                            </div>
                                            <div class="col-sm-2">
                                                <button id="saveComment" class="btn btn-purple-light" type="submit" style="float: right;"
                                                        th:text="#{comment.form.save}">B</button>
                                            </div>
                                        </div>

                                        <input type="hidden" id="workName" th:value="${viewedWork.getName()}">
                                        <input type="hidden" id="chapterCount" th:value="${viewedWork.getChapters().size()}">
                                        <input type="hidden" id="chapterName" th:value="chapter">
                                    </div>
                                </form>
                                <script>
                                    var workName = document.getElementById('workName').value;
                                    var chapterName = document.getElementById('chapterName').value;
                                    var stompClient = null;
                                    stompClient = connect(stompClient, workName, '');

                                    $("form").on('submit', function (e) {
                                        e.preventDefault();
                                    });

                                    $( "#saveComment" ).click(function() {
                                        sendCommentToDB();
                                    });
                                </script>
                            </div>

                        </div>
                    </div>
                </th:block>

            </th:block>
        </div>
    </div>
</div>

</body>

<script>
    function textCounter(field, field2, maxlimit) {
        document.getElementById('emptyCommentAlert').style.display = "none";
        var countfield = document.getElementById(field2);
        if ( field.value.length > maxlimit ) {
            field.value = field.value.substring( 0, maxlimit);
            return false;
        } else {
            countfield.value = maxlimit - field.value.length;
        }
    }
</script>

<!-- For bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>