<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title th:text="#{home.add_fic.label}">Title</title>

    <!-- For bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Local css -->
    <link rel="stylesheet" type="text/css" href="/css/base/background.css">
    <link rel="stylesheet" type="text/css" href="/css/base/main_panel.css">
    <link rel="stylesheet" type="text/css" href="/css/base/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/home/add_fic.css">

    <meta charset="UTF-8">
</head>
<body>
<div class="bg">
    <!-- ---------- -->
    <!-- Navbar -->
    <!-- ---------- -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">RenBook</a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a th:text="#{navbar.works}" href="/works">Authors</a>
                </li>
                <li>
                    <a th:text="#{navbar.authors}" href="/authors">Authors</a>
                </li>
                <li>
                    <a th:text="#{navbar.rules}" href="/rules">Authors</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <th:block th:if="${#authentication.getName().equals('anonymousUser')}">
                    <li>
                        <a href="/auth/signup">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-bar-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"/>
                                <path fill-rule="evenodd" d="M6 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H6.5A.5.5 0 0 1 6 8zm-2.5 6a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 1 0v11a.5.5 0 0 1-.5.5z"/>
                            </svg>
                            <th:block th:text="#{navbar.signup}">S</th:block>
                        </a>
                    </li>
                    <li>
                        <a href="/auth/login">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            </svg>
                            <th:block th:text="#{navbar.login}">L</th:block>
                        </a>
                    </li>
                </th:block>

                <th:block th:unless="${#authentication.getName().equals('anonymousUser')}">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown"
                           style="cursor: pointer"
                           th:text="${#authentication.principal.username}">
                            Username
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/home/news" th:text="#{dropdown.news}">News</a></li>
                            <li class="divider"></li>
                            <li><a href="/home/profile" th:text="#{dropdown.profile}">Profile</a></li>
                            <li><a href="/home/works" th:text="#{dropdown.works}">Works</a></li>
                            <li><a href="/home/saved" th:text="#{dropdown.saved}">Likes</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout" th:text="#{dropdown.logout}">Logout</a></li>
                        </ul>
                    </li>
                </th:block>
            </ul>
        </div>
    </nav>
    <!-- ---------- -->
    <!-- Main panel -->
    <!-- ---------- -->
    <div class="container">
        <div class="main-panel main-panel-light">
            <div class="d-flex justify-content-center">
                <div class="card" style="width: available; justify-content: center">
                    <div class="card-body">
                        <b th:if="${error}">
                            <a style="color: red"><td th:text="#{error.something_went_wrong}">err</td></a>
                        </b>

                        <form name="add_work" action="/home/works/add_work" method="post">

                            <div class="form-group">
                                <label for="name" th:text="#{home.add_fic.name}">name</label>
                                <input type="text" class="form-control" id="name" name="name"
                                       maxlength="255" required>
                            </div>

                            <fieldset class="form-group">
                                <div class="row">
                                    <b class="col-form-label col-sm-2 pt-0" th:text="#{home.add_fic.type}">Radios</b>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="fandomType" id="grid1Radios1"
                                                   value="original" checked>
                                            <label class="form-check-label" for="grid1Radios1" th:text="#{work.category.types.original}">
                                                First radio
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="fandomType" id="grid1Radios2"
                                                   value="fandom">
                                            <label class="form-check-label" for="grid1Radios2" th:text="#{home.add_fic.type.fandom}">
                                                Second radio
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="form-group">
                                <div class="row">
                                    <b class="col-form-label col-sm-2 pt-0" th:text="#{home.add_fic.rating}">Radios</b>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="rating" id="grid2Radios1"
                                                   value="g" checked>
                                            <label class="form-check-label" for="grid2Radios1" th:text="#{work.rating.g}">
                                                First radio
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="rating" id="grid2Radios2"
                                                   value="pg_13">
                                            <label class="form-check-label" for="grid2Radios2" th:text="#{work.rating.pg_13}">
                                                First radio
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="rating" id="grid2Radios3"
                                                   value="r">
                                            <label class="form-check-label" for="grid2Radios3" th:text="#{work.rating.r}">
                                                First radio
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="rating" id="grid2Radios4"
                                                   value="nc_17">
                                            <label class="form-check-label" for="grid2Radios1" th:text="#{work.rating.nc_17}">
                                                First radio
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="form-group">
                                <div class="row">
                                    <b class="col-form-label col-sm-2 pt-0" th:text="#{home.add_fic.category}">Radios</b>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="category" id="grid3Radios1"
                                                   value="gen" checked>
                                            <label class="form-check-label" for="grid3Radios1" th:text="#{work.category.gen}">
                                                First radio
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="category" id="grid3Radios2"
                                                   value="f_f">
                                            <label class="form-check-label" for="grid3Radios2" th:text="#{work.category.f_f}">
                                                First radio
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="category" id="grid3Radios3"
                                                   value="m_f">
                                            <label class="form-check-label" for="grid3Radios3" th:text="#{work.category.m_f}">
                                                First radio
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="category" id="grid3Radios4"
                                                   value="m_m">
                                            <label class="form-check-label" for="grid3Radios4" th:text="#{work.category.m_m}">
                                                First radio
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="category" id="grid3Radios5"
                                                   value="mixed">
                                            <label class="form-check-label" for="grid3Radios5" th:text="#{work.category.mixed}">
                                                First radio
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="category" id="grid3Radios6"
                                                   value="other">
                                            <label class="form-check-label" for="grid3Radios6" th:text="#{work.category.other}">
                                                First radio
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="form-group">
                                <div class="row">
                                    <b class="col-form-label col-sm-2 pt-0" th:text="#{profile.language.label}">Radios</b>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="language" id="grid4Radios1"
                                                   value="en" checked>
                                            <label class="form-check-label" for="grid4Radios1" th:text="#{profile.language.en}">
                                                First radio
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="fandomType" id="grid4Radios2"
                                                   value="ru">
                                            <label class="form-check-label" for="grid4Radios2" th:text="#{profile.language.ru}">
                                                Second radio
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <div class="form-group">
                                <label for="tags" th:text="#{home.add_fic.tags}">Username</label>
                                <input type="text" class="form-control" id="tags" name="tags" maxlength="150">
                            </div>

                            <div class="form-group">
                                <label for="description" th:text="#{home.add_fic.description}">Username</label>
                                <!--<input type="text" class="form-control" id="description" name="description"
                                       th:rows="4" th:cols="40" maxlength="500">-->
                                <textarea class="form-control" id="description" name="description"
                                          rows="5" cols="20" maxlength="500" required
                                          onkeyup="textCounter(this, 'descriptionCounter', 500)"></textarea>
                                <label for="descriptionCounter" th:text="#{signup.characters_left}"
                                       style="font-weight: normal">Left</label>
                                <input disabled  maxlength="3" size="3" value="500" id="descriptionCounter">
                            </div>

                            <div class="form-group">
                                <label for="comment" th:text="#{home.add_fic.comment}">Username</label>
                                <!--<input type="text" class="form-control" id="description" name="description"
                                       th:rows="4" th:cols="40" maxlength="500">-->
                                <textarea class="form-control" id="comment" name="comment"
                                          rows="5" cols="20" maxlength="350"
                                          onkeyup="textCounter(this, 'commentCounter', 350)"></textarea>
                                <label for="commentCounter" th:text="#{signup.characters_left}"
                                       style="font-weight: normal">Left</label>
                                <input disabled  maxlength="3" size="3" value="350" id="commentCounter">
                            </div>

                            <button type="submit" class="btn btn-primary" th:text="#{home.add_fic.save}">S</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    function textCounter(field, field2, maxlimit) {
        var countfield = document.getElementById(field2);
        if ( field.value.length > maxlimit ) {
            field.value = field.value.substring( 0, maxlimit);
            return false;
        } else {
            countfield.value = maxlimit - field.value.length;
        }
    }
</script>

<!-- For bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>